

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 5% 10px 5%;
    position: relative;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-item a:hover {
    background-color: #575757;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: white;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        z-index: 1;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item a {
        text-align: center;
    }

    .dropdown-content {
        position: relative;
        min-width: 100%;
    }
}
